
#  Probability

## PETE 2061 Lab 5 Workbook 

## THIS IS DUE BY 11:59 PM TODAY

1. Paste the url (or link) to the pete2061 folder in your github account in the "marked down" cell below. <br>

https://github.com/rgoody1/pete2061

2. **Using the example in "lab5_Probability.ipynb", write a Python code to compute the probabililities of all possible total values that can be obtained from rolling a fair die k times. Read in k using the input() function in Python.**

In [45]:
import itertools
import pandas as pd
import numpy as np

numList = list(range(0,7))
k = int(input("Input k : "))
rollList1 = list(itertools.product(numList,repeat=k)) #this is where the roll number will be
print(f"The total number of outcomes is {len(rollList1)}")

resultArray = np.array(resultList1)
sumOutcomes = np.sum(resultArray, axis=1)

df1 = pd.DataFrame({"outcomes":resultList1,"sumOutcomes":sumOutcomes})
df1

by_sumOutcomes = df1.groupby("sumOutcomes")
by_sumOutcomes.describe()
outcomeDF = by_sumOutcomes.count()
outcomes = outcomeDF.values[:,0]
probability = outcomes / np.sum(outcomes)
newDF = pd.DataFrame({"sum":df1["sumOutcomes"].unique(), "outcomes":outcomes, "probability":probability})
newDF

Input k : 4
The total number of outcomes is 2401

    sum  outcomes  probability
0     2         1     0.027778
1     3         2     0.055556
2     4         3     0.083333
3     5         4     0.111111
4     6         5     0.138889
5     7         6     0.166667
6     8         5     0.138889
7     9         4     0.111111
8    10         3     0.083333
9    11         2     0.055556
10   12         1     0.027778

3. **In class, we discussed the fundamental principle of counting. If there are n1 ways to perform the first operation, n2 ways to perform the second operation, n3 ways to perform the third operation, ..., and nk ways to perform the k-th operation, the total number of ways to perform the k operations is n1(n2)(n3)...(nk). Write a Python code that reads in n1,n2,n3,...,nk as comma-separated values using the input function. For example, to read in 4 operations with 3,2,1, and 4 outcoumes. You will type "3,2,1,4" after the prompt asks you for the list of outcomes. **

In [ ]:
outcomeString = input("Please provide the list of outcomes: ")  #put in numbers
outcomeList =  outcomeString.split(",")
print(outcomeList)
k = len(outcomeList)
print(k)
curProd = 1
for n_i in outcomeList:
    curProd =  int(n_i)*curProd
print(curProd)

In [48]:
k = len(outcomeList)
print(k)
curProd = 1
for n_i in outcomeList:
    curProd =  int(n_i)*curProd
print(curProd)

4
24